[submodule "research"]
    path = "research"
    url = git@github.com:ppoak/research

[submodule "backtest"]
    path = "backtest"
    url = git@github.com:ppoak/backtest

[submodule "factor"]
    path = "factor"
    url = git@github.com:ppoak/factor